body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff; /* Կապույտ ֆոն */
    margin: 0;
}
.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}
.card img {
    width: 70%;
    border-radius: 50%;
}
h2{
    color: #007bff;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
}